@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

body {
  font-family: "Times New Roman", Times, serif;
  font-optical-sizing: auto;
  font-weight: 400, 500;
  font-style: normal;
}

#chevronDiv,
#chevronLeft,
#chevronRight {
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

#chevronLeft svg,
#chevronRight svg {
  transition:
    transform 0.1s ease,
    opacity 0.1s ease;
}

#chevronLeft:active svg,
#chevronRight:active svg {
  transform: scale(0.9);
}

#verses {
  transition: opacity 0.3s ease;
}

.bi-chevron-compact-down {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  transform: rotate(180deg);
}

#navDiv {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease,
    max-height 0.3s ease;
  transform-origin: top;
  /* overflow: hidden; */
}

.nav-hidden {
  opacity: 0;
  transform: scaleY(0);
  max-height: 0;
  pointer-events: none;
  margin: 0 !important;
}

.nav-visible {
  opacity: 1;
  transform: scaleY(1);
  max-height: 200px;
  pointer-events: all;
}

#verses {
  margin-right: auto;
  margin-left: auto;
  max-width: 720px;
}

.verse-number {
  cursor: pointer;
  font-size: 12px;
  position: relative;
  top: -6px;
}

#books .dropdown-menu {
  position: absolute !important;
  top: 100% !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  will-change: auto;
  max-height: calc(50vh);
}
